body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(241, 245, 249);
}

h1, h2, h3, h4 {
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  color: rgb(231, 103, 46);
}

.fr {
  color: rgb(231, 103, 46);
}
